**/.gradle/
**/build/
**/node_modules/
**/dist/
**/.env
**/.env.*
!**/.env.example
**/.venv/
**/__pycache__/
**/*.pyc
**/.terraform/
**/*.tfstate*
**/*.tfplan
**/*.auto.tfvars
**/secrets.yaml
**/local-values.yaml
**/*.pem
